/* =================================
   Global styles
================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  min-height: 100vh;
  overflow-x: clip;

  background-color: var(--color-background);
  color: var(--color-text);

  font-family: "Inter", sans-serif;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

button {
  font: inherit;
}

/* =================================
   Header
================================= */

.site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;

  height: 72px;

  border-bottom: 1px solid var(--color-border);
}

.header-elements-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: min(var(--container-width), calc(100% - 48px));
  height: 100%;
}

.header-elements-container h1 {
  font-size: 28px;
}

.header-elements-container button {
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-surface);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);

  position: relative;

  transition: 0.2s;
  cursor: pointer;
}
.header-elements-container button:hover {
  background-color: var(--color-surface-hover);
  border-color: #3b4250;
}

#cartBadge {
  background-color: var(--color-primary);
  color: var(--color-text);

  font-size: 10px;
  font-weight: 700;

  display: none;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -7px;
  right: -7px;

  height: 19px;
  width: 19px;

  border-radius: 50%;
}

/* =================================
  Loader spinner
================================= */

.loader-parent {
  position: fixed;
  z-index: 101;

  display: none;
  align-items: center;
  justify-content: center;

  inset: 0;

  background-color: var(--color-border);
}

.loader {
  --size: 1px;

  animation: rotate 1s infinite;
  height: calc(50 * var(--size));
  width: calc(50 * var(--size));
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: calc(20 * var(--size));
  width: calc(20 * var(--size));
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: var(--color-text);
  box-shadow: calc(30 * var(--size)) 0 0 var(--color-primary);
  margin-bottom: calc(10 * var(--size));
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: var(--color-primary);
  box-shadow: calc(30 * var(--size)) 0 0 var(--color-text);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: calc(30 * var(--size)) 0 0 var(--color-primary);
  }
  50% {
    box-shadow: 0 0 0 var(--color-primary);
    margin-bottom: 0;
    transform: translate(calc(15 * var(--size)), calc(15 * var(--size)));
  }
  100% {
    box-shadow: calc(30 * var(--size)) 0 0 var(--color-primary);
    margin-bottom: calc(10 * var(--size));
  }
}

@keyframes ball2 {
  0% {
    box-shadow: calc(30 * var(--size)) 0 0 var(--color-text);
  }
  50% {
    box-shadow: 0 0 0 var(--color-text);
    margin-top: calc(-20 * var(--size));
    transform: translate(calc(15 * var(--size)), calc(15 * var(--size)));
  }
  100% {
    box-shadow: calc(30 * var(--size)) 0 0 var(--color-text);
    margin-top: 0;
  }
}

/* =================================
  Show Error
================================= */

.show-error-section {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: min(var(--container-width), calc(100% - 48px));
  min-height: calc(100vh - 72px);
}

.show-error-section img {
  width: 500px;
  opacity: 0.7;
}

.show-error-section h3 {
  margin-top: 20px;
  font-size: 26px;
  color: var(--color-text-secondary);
}

/* =================================
  Products
================================= */

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  margin-top: 28px;

  width: min(var(--container-width), calc(100% - 48px));
  flex: 1;

  padding: 10px 0 64px 0;
}

.products-section {
  display: flex;
  align-items: start;
  justify-content: start;

  gap: 20px;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: calc(calc(100% - 80px) / 5);
  min-width: 215px;

  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);

  overflow: hidden;
  transition: border-color 0.2s;
}

.product-card__image {
  width: 100%;
  height: 220px;
  background-color: var(--color-product-img);
  object-fit:contain;
  border-bottom: 1px solid var(--color-border);

  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  padding: 16px;
}

.product-info-card {
  padding: 16px;
  background-color: var(--color-surface);
}

.product-card__title {
  font-size: 15px;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 7px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-card__description {
  margin-bottom: 17px;

  overflow: hidden;

  color: var(--color-text-secondary);
  font-size: 12px;
  line-height: 21px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card__price {
  color: var(--color-text);
  font-size: 15px;
  font-weight: 700;
}

.quantity-control {
  height: 32px;
  display: flex;
  align-items: center;

  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
}

.quantity-control__btn {
  border: none;
  color: var(--color-text);
  background-color: transparent;

  width: 30px;
  height: 30px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.2s;
}

.quantity-control__btn:hover {
  background-color: var(--color-surface-hover);
  color: var(--color-primary);
  border-radius: var(--radius-sm);
}

.quantity-control__value {
  font-size: 12px;
  width: 25px;
  text-align: center;
  font-weight: 600;
}

/* =================================
  Shopping Cart Modal
================================= */

.cart-modal {
  position: fixed;
  inset: 0;
  z-index: 100;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.cart-modal__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.72);
  backdrop-filter: blur(3px);
}

.cart-modal__dialog {
  position: relative;
  z-index: 1;
  width: 760px;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  background-color: var(--color-surface);
  overflow: hidden;
}

.cart-modal__header {
  min-height: 68px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  border-bottom: 1px solid var(--color-border);
}

.cart-modal__header h2 {
  font-size: 18px;
  font-weight: 600;
}

.cart-modal__close-btn {
  width: 34px;
  height: 34px;

  font-size: 25px;
  font-weight: 300;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--color-text-secondary);
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.cart-modal__close-btn:hover {
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Cart Modal Items */

.cart-modal__items {
  max-height: 390px;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid var(--color-border);
  padding: 14px 20px;
}

.cart-item__image {
  width: 58px;
  height: 58px;
  object-fit: cover;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  background-color: var(--color-background);
}

.cart-item__details {
  flex: 1;
}

.cart-item__title {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-text);
}

.cart-item__unit-price {
  font-size: 12px;
  color: var(--color-text-muted);
}

.cart-item__total {
  font-size: 13px;
  font-weight: 600;
  width: 75px;
  text-align: right;
  color: var(--color-text);
}

/* =================================
   Modal Scrollbar
================================= */

.cart-modal__items::-webkit-scrollbar {
  width: 6px;
}

.cart-modal__items::-webkit-scrollbar-track {
  background: transparent;
}

.cart-modal__items::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #303641;
}

.cart-modal__items::-webkit-scrollbar-thumb:hover {
  background-color: #414957;
}
/* Cart Modal Footer */

.cart-modal__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #14171d;
  padding: 20px 20px;
}

.cart-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.cart-summary span {
  font-size: 13px;
  color: var(--color-text-secondary);
}

.cart-summary__price {
  color: var(--color-text);
  font-size: 20px;
  font-weight: 700;
}

.cart-modal__checkout {
  width: 100%;
  height: 44px;
  border: none;
  border-radius: var(--radius-sm);

  background-color: var(--color-primary);
  color: var(--color-text);
  cursor: pointer;

  font-size: 13px;
  font-weight: 600;

  transition: background-color 0.2s;
}

.cart-modal__checkout:hover {
  background-color: var(--color-primary-hover);
}

/* =================================
  Cart Modal Empty
================================= */

.cart-modal-empty {
  padding: 70px 20px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-modal-empty span {
  color: var(--color-text-secondary);
  
}

.cart-modal-empty span img {
  width: 22px;
  vertical-align: middle;
}